<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mind Health Chicago - Blog Editor Login</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
{{{body}}}
<!-- partial -->
  <script src='https://kit.fontawesome.com/58e27c88da.js'></script><script  src="/js/script.js"></script>

</body>
</html>
